<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta propdescname=”save” content=”userdata”/>
	<title>test</title>
	<style>
		body{background: #299854;}



		.geekeim{position: absolute;left: 50%;top: 50%;background: #fff;margin-left: -300px;width: 550px;height: 580px; margin-top: -300px;border-radius:5px;border:1px solid #aaa; box-shadow:0 0 30px #aaa;behavior:url(PIE.htc);}
		#test{border:1px solid #f00;}
		#test_btn{display: block;background: #000;}

		table{display: none; height: 500px;background: #fff;}
	</style>
</head>
<body>
{{title}}

{{entries}}
	

	<h1 id="test">this is a geeke</h1>

	<pre>
	<!-- 	改变大小
		拖动
		记忆改变状态
		聊天对象列表与切换
		语音
		视频
		QQ
		聊天内容，系统消息，交互信息
		表情
		抖动
		上传图片
		文件
		页面跟踪


		用户信息分析
		智能机器人
		api接口

		高速缓存：
			判断库版本
			判断配置版本
			客户信息状态
			起动 -->
		

	</pre>

	<div  contentEditable="true">fsfeffffffffffffff</div>
	<div id="test_btn">btn</div>


	<form action="#" enctype="multipart/form-data" method="post" >
		<input type="file" name="file" id="">
		<input type="submit" value="">
	</form>


	<script src="/api"></script>
	


	
</body>
</html>
