@charset "utf-8";
/***
@Author:     webpoin
@Email:      1357113262@qq.com
***/

html{*border:none;overflow-x:hidden;}
body{margin:0;font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif; color: #333; }
h1,h2,h3,h4,h5,h6,ol,ul,p,form{margin-top:0;margin-bottom:0}
img{border:none;vertical-align:top;}
ol,ul{padding-left:0;margin-left:0; }
ul{list-style-type:none;}
header,nav,section,article,footer,aside{display:block;margin:0;}
a{color: #333;text-decoration:none; }
/*  为减小文档大小，做如下规范：
	b：行内块元素
	i：图标
	s：隐藏
*/
b{display: inline-block;font-weight: normal;}
i{display: inline-block;font-style: normal;}
s{display: none; text-decoration: none;}

/*定义滚动条*/
::-webkit-scrollbar{width: 6px;height: 6px;}
::-webkit-scrollbar-thumb{border-radius: 10px;background-color: rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb:hover{border-radius: 10px;background-color: rgba(0,0,0,0.4);}



/*公共*/
/*三角形*/



/*头*/
header{position: relative; height: 72px;border-bottom: 1px solid #b3b3b3;background: #f3f3f3;}

section{position: absolute;left: 0;width: 100%;top: 73px;bottom: 0;overflow: hidden;}


.head_logo{ float: left; margin-left: 5px; height: 32px;line-height: 32px;font-size: 14px;font-weight: bold;cursor: pointer;white-space:nowrap;  }
.head_logo img{height: 22px; vertical-align: -6px;}


.head_status{position: absolute;top: 0;right: 135px;}
.head_status i{display: block;margin-top: 5px; line-height: 12px;text-indent: 15px;font-weight: normal; width: 12px;height: 12px;border-radius:12px;cursor: pointer;white-space:nowrap; }
.head_status i:nth-child(1){background: #21ee1c; }
.head_status i:nth-child(2){display: none; background: #bbbcbb; }
.head_status i:nth-child(3){display: none; background: #f00404; }


.head_win {position: absolute; display: inline-block; right: 0;top: 0; padding-left:4px; width: 92px;height: 22px;margin-right: 3px; background: url(image/head_win_bkg.png) no-repeat;}
.head_win i{float: left;width: 26px;height: 22px;background: url(image/head_win.gif) no-repeat;cursor: pointer;}
.head_win i.min{background-position:0 0;}
.head_win i.nor{background-position:-26px 0;}
.head_win i.cls{background-position:-52px 0;}



.head_menu{float: left;clear:both;margin-top: 12px; padding-left: 5px; height: 29px;line-height: 29px;font-size: 14px;text-align: center;white-space:nowrap;font-weight: bold; }
.head_menu li{display: inline-block; width: 107px; cursor:pointer; }
.head_menu li.hot{background: url(image/head_menu_hot.png) no-repeat;}

.head_msg {position: absolute;right: 5px;bottom: 5px;color: #989797; }
.head_msg i{width: 23px; margin-right:3px;height: 23px;vertical-align:-1px; background: url(image/head_msg.png) no-repeat; }
.head_msg b{font-weight: normal;}
.head_msg.hot{color: #333;}
.head_msg.hot i{background-position: -23px 0;cursor:pointer;}
.head_msg.hot b{color:#f00; cursor:pointer;}



/************* 会话窗口*****************/
.talks{display: flex; }
.talks>div{position: relative; border:1px solid #ccc; border-radius:2px;margin: 5px;}

/*访客列表*/
.talks_side{ position: relative;width: 300px;left;margin: 5px; line-height: 28px;}

.talks_side b{text-indent: 3px;text-overflow:ellipsis;overflow: hidden;} 
.talks_side b:nth-child(2){flex-grow: 1; }
.talks_side b:nth-child(3){flex-grow: 1; }
.talks_side b:nth-child(4){width: 130px;}


.talks_side i{margin: 7px 4px 0 5px; width: 12px;height: 12px;border-radius: 12px;}
.talks_side i.all {border:1px solid #999; background: #21ee1c;}
.talks_side i.tlk {background: #f00404;}
.talks_side i.onl {background: #21ee1c;}
.talks_side i.off {background: #bbbcbb;}

.talks_side h2{display: flex; background: #ddd;line-height: 35px; border-bottom: 1px solid #ccc;white-space: nowrap;font-size: 12px;}
.talks_side h2 i{margin-top: 10px;}
.talks_side h2 b{font-weight: bold;}

.talks_side h6{position: absolute;bottom: 0;left: 0;width: 100%;overflow: hidden;line-height: 29px;font-weight: normal; text-indent: 5px;border-top: 1px solid #ccc;background: #eee;}

.talks_side ul {position: absolute;top: 36px;left: 0;right: 0;bottom: 30px;  overflow:auto; white-space:nowrap; }
.talks_side li{display: flex; width: 100%;overflow: hidden;cursor:pointer; }
.talks_side li:nth-child(even){background: #ededed;}
.talks_side li:hover{background: #c8dffc; } 






/*聊天交互窗口*/
.talls_webim{flex-grow:1;}

/*快速回复*/
.talks_reply h2{display: flex;position: relative; padding-left: 5px; font-size: 12px;height: 30px; border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;background: #ddd;}
.talks_reply h2 b{position: relative; width: 60px;height: 22px;line-height: 22px; margin-top: 7px;cursor: pointer; border:1px solid transparent;border-radius: 3px 3px 0 0;  text-align: center;}
.talks_reply h2 b.hot{border-color: #ccc #ccc #fff;background: #fff;}
.talks_reply h2 i{position: absolute;top: 0;right: 15px;cursor: pointer;font-size: 20px;color: #999;}
.talks_reply h2 i:hover{color: #333;}

.talks_reply ul{height: 164px; overflow: auto;line-height: 22px;}
.talks_reply ul i{position: absolute;right: 10px;top: 0;cursor: pointer;color: #999;}
.talks_reply li{position: relative; padding: 0 25px 0 5px; white-space: nowrap;overflow: hidden;text-overflow:ellipsis;cursor: pointer;}
.talks_reply li:nth-child(even){background: #ededed;}
.talks_reply li:hover{background: #c8dffc; } 
.talks_reply li:hover i{color: #666;}
.talks_reply li i:hover{color: #333;}



/*客户信息*/


/*信息记录*/
.talks_infor{display:flex;flex-direction:column;flex-grow:1;}


.talks_infor h2{display: flex;position: relative;height: 30px; padding-left: 5px; font-size: 12px;padding-top: 7px; border-bottom: 1px solid #ccc;background: #ddd;}
.talks_infor h2 b{position: relative; width: 60px;height: 22px;line-height: 22px;cursor: pointer; border:1px solid transparent;border-radius: 3px 3px 0 0;  text-align: center;}
.talks_infor h2 b.hot{border-color: #ccc #ccc #fff;background: #fff;}
.talks_infor h2 i{position: absolute;top: 0;right: 15px;cursor: pointer;font-size: 20px;color: #999;}
.talks_infor h2 i:hover{color: #333;}


.talks_locus{display:flex;flex-direction:column;flex-grow:1;margin: 5px;}
.talks_locus h3{display: flex;border-bottom: 1px solid #ccc;font-size: 12px; line-height: 24px;}
.talks_locus h6{line-height: 30px;font-size: 12px;font-weight: normal;}
.talks_locus b:nth-child(1){width: 60px;}
.talks_locus b:nth-child(2){flex-grow:1;text-align: center;}
.talks_locus a:nth-child(2){flex-grow:1;overflow: hidden;text-overflow:ellipsis;color: #5B7DCB;}
.talks_locus b:nth-child(3){width: 40px;}
.talks_locus ul{flex-grow:1; overflow: auto;white-space: nowrap;line-height: 22px;}
.talks_locus li{display: flex;}
.talks_locus li:nth-child(even){background: #ededed;}
.talks_locus li:hover{background: #c8dffc; } 


.talks_recode{height: 170px;padding: 10px 15px; border-top: 1px solid #ccc;}
.talks_recode input{line-height: 18px;height: 18px;padding: 2px 5px;width: 60%;margin-left: -5px; margin-bottom: 5px;border:1px solid #ccc;border-radius: 2px;outline: none;}
.talks_recode textarea{width: 100%;margin-left: -5px;border:1px solid #ccc;border-radius: 2px;outline: none;}





#chart{border:1px solid #ddd;height: 200px;}
