body{height:1500px;background:url(gplaypattern.png);margin:0;padding:0;}
ul,li{margin:0;padding:0;  }
.webim{ position:fixed;  z-index:9999;width:588px;height:517px;border-radius:5px;box-shadow: 3px 3px 5px rgba(0,0,0,0.2);border:1px solid #6b6962;
	_position:absolute;
	/*_top: expression(parseInt(this.offsetParent.currentStyle.top) - parseInt(this.currentStyle.top)- parseInt(this.currentStyle.bottom));
*/
}
.webim i{background-image: url(images/icon.png); _background-image:url(images/icon.gif) ;background-repeat:no-repeat;  }

.webim_standard,
.webim_maximize,
.webim_minimize,
.webim_closed{-moz-user-select:none;-webkit-user-select:none; position:fixed; _position:absolute; z-index:9999;border-radius:5px;box-shadow: 3px 3px 5px rgba(0,0,0,0.2);border:1px solid #6b6962;}

.webim_bkg{position:absolute;background:#ddd;/*background:url(bkg.jpg); */  width:100%;height:100%; background-size:100% 100%;border-radius:5px;}

/***最大化最小化操作按钮***/
.webim_operat{position:absolute;right:0;top:0; padding-right:3px;z-index:1;-moz-user-select:none;-webkit-user-select:none;}
.webim_operat b{float:left;height:20px;cursor:pointer; line-height:20px;}
.webim_operat i{display:block;line-height:20px;}
.webim_min i{background-position:4px 0; width:28px; }
.webim_nor i{background-position:-16px 0; width:28px;}
.webim_max i{background-position:-36px 0; width:28px;}
.webim_clo i{background-position:-56px 0; width:32px; }

/***头***/
.webim_tle{ position:absolute; border-radius:5px 5px 0 0; height:90px;left:0;right:0;_width:100%; cursor:default;}



/***聊天窗**/
.webim_cht{background:#fff;  position:absolute;top:90px;right:207px;left:2px;bottom:182px; overflow:auto;cursor:pointer;  -moz-user-select:auto;-webkit-user-select:auto; 
	_width: expression(parseInt(this.offsetParent.currentStyle.width) - parseInt(this.currentStyle.left)- parseInt(this.currentStyle.right));
    _height: expression(parseInt(this.offsetParent.currentStyle.height) - parseInt(this.currentStyle.top)- parseInt(this.currentStyle.bottom));
}


/**工具栏**/
.webim_tol{position:absolute;height:28px;bottom:154px;_bottom:150px; right:207px;left:2px;line-height:28px;_width: expression(parseInt(this.offsetParent.currentStyle.width) - parseInt(this.currentStyle.left)- parseInt(this.currentStyle.right));  }
.webim_tol i{float:left;margin-left:5px;  margin-top:3px;overflow:hidden;  width:22px;height:22px; cursor:pointer;}
.webim_tol i.on{outline:1px solid #888; }

/*表情*/
.webim_fac i{background-position:0px -26px; }
.webim_fac div{display:none;  position:absolute;padding:0 1px 1px 0;left:10px; bottom:30px; z-index:999 ;width:342px;background:url(images/facebkg.gif);   }
.webim_fac div img{padding:4px 3px 3px 4px;cursor:pointer;float:left;}

/*字体*/
.webim_fon i{background-position:-25px -26px; }
.webim_fon div{display:none;  position:absolute;left:0;width:100%;padding-top:3px;color:#666;   bottom:28px; z-index:999 ;background:#EDF0F1;    }
.webim_fon select{float: left;margin-right:5px; }
.webim_fon b{float: left;margin:2px 5px 0 0;  width:18px;height:18px;text-align:center;line-height:18px;cursor:pointer; }
.webim_fon b.on{outline:1px solid #888; color:#000; }
.webim_fon em{float: left;margin:2px 5px 0 0;  width:18px;height:18px;text-align:center;line-height:18px;cursor:pointer;}
.webim_fon em.on{outline:1px solid #888; color:#000; }
.webim_fon u{float: left;margin:2px 5px 0 0;  width:18px;height:18px;text-align:center;line-height:18px;cursor:pointer;}
.webim_fon u.on{outline:1px solid #888; color:#000; }

/*图片*/
.webim_pic {float:left;position:relative; }
.webim_pic i{background-position:-48px -26px; }
.webim_pic iframe{position:absolute;left: 0;top:0;  }

/***输入框***/
.webim_ent{background:#fff;  -moz-user-select:auto;-webkit-user-select:auto; position:absolute;right:207px;left:2px;bottom:34px;_bottom:30px; height:120px;_width: expression(parseInt(this.offsetParent.currentStyle.width) - parseInt(this.currentStyle.left)- parseInt(this.currentStyle.right)); }
.webim_ent iframe{width:100%;height:100%;padding:0;border:none;}

/***提交按钮***/
.webim_sub{position:absolute;right:207px;width:70px;line-height:22px;height:22px;padding:0;font-style:normal;    font-size:12px;cursor:pointer; bottom:5px;_bottom:3px;text-align:center;background-position:0 -48px;         }

/***企业形象***/
.webim_com{position:absolute;right:2px;width:200px;top:90px;bottom:3px;border-radius:5px;  background:#fff; _height: expression(parseInt(this.offsetParent.currentStyle.height) - parseInt(this.currentStyle.top)- parseInt(this.currentStyle.bottom));}


/**标准窗口**/
.webim_standard .webim_sta i{display:none; }

/**最小化窗口**/
.webim_minimize .webim_min i{display:none; }

/**最大化窗口**/
.webim_maximize .webim_max i{display:none; }


/**关闭窗口**/
.webim_closed .webim_clo i{display:none; }

/*
.webim_minimize {position:fixed;right:0;bottom:0;background:rgba(0,0,0,0.1);border:1px solid #999;  width:235px;height:150px;box-shadow: 3px 3px 5px rgba(0,0,0,0.2);border-radius: 5px; }
.webim_minimize p{padding:0;margin:0; }

.webim_minimize .webim_operat i{display:none; }
.webim_minimize .webim_operat:hover i{display:block; }
.webim_min_chart{position:absolute;left:0;right:0;top:0;bottom:30px;font-size:12px;overflow:auto; border-radius:5px 5px 0 0;}
.webim_min_chart section{display:block;clear:both;  }
.webim_cht_customer p{position:relative;clear:both;  display:inline-block;padding:3px 5px;border-radius:5px;line-height:24px;     margin:5px 10px 0;background:#fff;  }
.webim_cht_customer p:after{position:absolute;left:-6px;top:4px;border-right:3px solid #fff;border-top:3px solid #fff;border-bottom: 3px solid rgba(0,0,0,0);border-left: 3px solid rgba(0,0,0,0); width:0;height:0;content:'';     }
.webim_cht_waiter p{clear:both;float:right;  position:relative; display:block;padding:3px 5px;border-radius:5px;line-height:24px;     margin:5px 10px 0;background:#fff;}
.webim_cht_waiter p:after{position:absolute;right:6px;bottom:-6px;border-right:3px solid #fff;border-top:3px solid #fff;border-bottom: 3px solid rgba(0,0,0,0);border-left: 3px solid rgba(0,0,0,0); width:0;height:0;content:'';     }



.webim_min_enter{position:absolute;background:#fff; border-radius:0 0 5px 5px;left:0;bottom:0;right:0;  height:30px;     }
.webim_min_enter input{width:219px;margin:2px 3px;height:16px;padding:3px; }
.webim_minimize .webim_operat b{width:20px; }

*/